<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <script src="https://kit.fontawesome.com/115c94f159.js" crossorigin="anonymous"></script>
    <div th:replace="fragments-header :: header"></div>
</head>
<body>
<nav class="navbar">
    <div class="user-info" th:each="authority : ${#authentication.principal.authorities}">
        <span th:text="'Username: ' + ${#authentication.principal.username}"></span>
        <br>
        <span th:text="'Role: '"></span>
        <span th:if="${authority.authority == 'USER'}">USER</span>
        <span th:if="${authority.authority == 'ADMIN'}">ADMIN</span>
    </div>
    <div class="nav-left">
        <form th:action="@{/calculator}" method="get">
            <button class="nav-btn" type="submit">Order</button>
        </form>
        <form th:action="@{/numbers}" method="get">
            <button class="nav-btn" type="submit">Restaurants</button>
        </form>
    </div>
    <div class="nav-right">
        <form th:action="@{/logout}" method="post">
            <button class="nav-btn3" type="submit"><i class="fa-solid fa-person-walking-arrow-right"></i> Sign out
            </button>
        </form>
    </div>
</nav>
<div class="container">
    <h3>Access Denied</h3>
    <p>Sorry, you don't have permission to access this page.</p>
</div>
<th:block th:replace="fragments-footer :: footer"></th:block>
</body>
</html>
