<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<div th:fragment="footer">
    <meta charset="UTF-8">
    <title>Fragments-footer</title>
    <style>
        footer {
            height: 50px;
            background-color: crimson;
            color: white;
            text-align: center;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        p {
            margin-top: 8px;
        }

    </style>
    <footer>
        <p>Online Calculator with Administrator/User Interface.<br>
            Spring MVC + Spring Boot 3 + Spring Security 6 + JPA + Hibernate + MySQL + Thymeleaf
        </p>
    </footer>
</div>
</html>
