<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Numbers</title>
    <script src="https://kit.fontawesome.com/115c94f159.js" crossorigin="anonymous"></script>
    <div th:replace="fragments-header :: header"></div>
</head>
<body>
<nav class="navbar">
    <div class="user-info" th:each="authority : ${#authentication.principal.authorities}">
        <span th:text="'Username: ' + ${#authentication.principal.username}"></span>
        <br>
        <span th:text="'Role: '"></span>
        <span th:if="${authority.authority == 'USER'}">USER</span>
        <span th:if="${authority.authority == 'ADMIN'}">ADMIN</span>
    </div>
    <div class="nav-left">
        <form th:action="@{/calculator}" method="get">
            <button class="nav-btn" type="submit">Order</button>
        </form>
        <form th:action="@{/numbers}" method="get">
            <button class="nav-btn" type="submit">Restaurants</button>
        </form>
        <form th:action="@{/users}" method="get"
              th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}">
            <button class="nav-btn2" type="submit">Registered Users</button>
        </form>
    </div>
    <div class="nav-right">
        <form th:action="@{/logout}" method="post">
            <button class="nav-btn3" type="submit"><i class="fa-solid fa-person-walking-arrow-right"></i> Sign out
            </button>
        </form>
    </div>
</nav>
<div class="tableContainer">
    <table class="table table-striped">
        <tr>
            <th>Maitinimo istaiga</th>
            <th>įstaigos adresas</th>
            <th>Pasto kodas</th>
            <th>Maistas</th>
            <th th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}">Username</th>
            <th>Action</th>
        </tr>
        <tr th:each="number : ${numbers}">
            <td th:text="${number.pavadinimas}"></td>
            <td th:text="${number.adresas}"></td>
            <td th:text="${number.pastokodas}"></td>
            <td th:text="${number.maistas}"></td>
            <td th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}"
                th:text="${number.users.username}"></td>
            <td>
                <div>
                    <a th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}"
                       th:href="@{/update(id=${number.id})}">Edit </a>
                    <a th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}"
                       class="a-pipe">|</a>
                    <a th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}"
                       th:href="@{/delete(id=${number.id})}"
                       th:onclick="if (!(confirm('Are you sure you want to delete this record?'))) return false;">Delete
                    </a>
                    <a th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}"
                       class="a-pipe">|</a>
                    <a th:href="@{/view(id=${number.id})}">Show</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="btn-container">
    <button type="button" class="btn" onclick="history.back()">Back</button>
</div>
</body>
</html>
